*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:'Inter',sans-serif;

color:white;

background:#000000;

line-height:1.6;

}


/* NAVBAR */

.navbar{

display:flex;
justify-content:space-between;
align-items:center;

padding:25px 8%;

border-bottom:1px solid rgba(255,255,255,0.1);

}

.logo{

font-family:'Orbitron',sans-serif;
font-size:18px;

}

.logo span{

color:#00ff00;

}

nav a{

margin:0 15px;

text-decoration:none;

color:white;

border:1px solid rgba(255,255,255,0.3);

padding:6px 14px;

font-size:13px;

}

.contact-btn{

border:1px solid white;

background:none;

color:white;

padding:8px 20px;

cursor:pointer;

text-decoration: none;

}



/* HERO */

.hero{

text-align:center;

padding:90px 20px;

}

.hero h1{

font-family:'Orbitron',sans-serif;

font-size:64px;

color:#00ff00;

letter-spacing:3px;

}

.hero h2{

font-size:26px;

color:white;

}



/* INTRO CARD */

.intro-card{

display:flex;

justify-content:space-between;

align-items:center;

gap:40px;

line-height:3;

margin:50px 8%;

padding:40px;

border:1px solid rgba(0,255,100,0.3);

border-radius:8px;

background:rgba(255,255,255,0.03);

}

.intro-image img{

width:220px;

}



/* SECTION TITLE */

.section-title{

text-align:center;

font-family:'Orbitron';

font-size:36px;

color:#00ff00;

margin:100px 0 40px;

}
.diff{
    line-height: 3;
}

.dif{
    margin-bottom: 20px;
}


/* ABOUT */

.about-container{

display:flex;

justify-content:space-between;

align-items:center;

line-height:3;

gap:40px;

padding:0 8%;

}

.about-image img{

width: 230px;
height: 230px;

border-radius:100%;

box-shadow:0 0 15px #00ff66;

}



/* FOCUS */

.focus{

padding:0 8%;

}



/* SKILLS */

.skills{

padding:80px 8%;

}

.skills-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(160px,1fr));

gap:20px;

max-width:1000px;

margin:auto;

}

.skill{

display:flex;

flex-direction:column;

align-items:center;

justify-content:center;

gap:8px;

padding:18px;

border-radius:8px;

border:1px solid rgba(0,255,100,0.3);

background:rgba(255,255,255,0.04);

transition:0.3s;

cursor:pointer;

}

.skill i{

font-size:22px;

color:white;

transition:0.3s;

}

.skill p{

font-size:14px;

transition:0.3s;

}

.skill:hover{

background:#00ff00;

transform:translateY(-6px);

}

.skill:hover i,
.skill:hover p{

color:black;

}


/* PROJECTS */

.projects{

padding:0 8%;

}

.project-list{

display:flex;

flex-direction:column;

gap:15px;

font-size:18px;

}

.project-list a{

text-decoration:none;

color:white;

border-bottom:1px solid rgba(255,255,255,0.2);

padding-bottom:8px;

}

.projects-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(260px,1fr));

gap:30px;

margin-top:40px;

}

.project-card{

display:block;

padding:30px;

border:1px solid rgba(255,255,255,0.4);

border-radius:12px;

text-decoration:none;

color:white;

background:rgba(255,255,255,0.04);

transition:0.3s;

}

.project-card:hover{

border-color:#00ff00;

transform:translateY(-6px);

box-shadow:0 10px 25px rgba(0,255,0,0.2);

}

.project-card h3{

color:white;

margin-bottom:10px;

}

.project-card p{

font-size:14px;

opacity:0.8;

color:#00ff00;

}

.projects h2{
    text-align: center;
    font-size: 40px;
    color: #00ff00;
    font-family:'Orbitron';
    margin-bottom: 20px;
}


/* CONTACT */

.contact{

margin-top:120px;

padding:80px;

text-align:center;

border-top:1px solid rgba(255,255,255,0.1);

}

.contact h2{

font-family:'Orbitron';

font-size:40px;

color:#00ff00;

margin-bottom:20px;

}


/* GLASS CARDS */

.card{
padding:35px;

background:rgba(255,255,255,0.04);

border-radius:16px;

backdrop-filter:blur(12px);

border:1px solid rgba(255,255,255,0.05);

transition:0.35s;
}

.card:hover{

transform:translateY(-10px) scale(1.02);

background:rgba(255,255,255,0.07);

box-shadow:0 20px 40px rgba(0,0,0,0.5);
}

.card h3{
margin-bottom:12px;
font-size:18px;
}

.card p{
font-size:14px;
opacity:0.8;
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:30px;
}


.social-icons{

margin-top:20px;

}

.social-icons a{

color:white;

margin-right:15px;

font-size:18px;

}




.contact i{

color:white;

margin-right:10px;

}

